<a href="https://colab.research.google.com/github/cedricbansah/new-york-house-price-prediction/blob/master/predict_house_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_csv('/content/AB_NYC_2019.csv')
data.shape

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(56039, 16)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56039 entries, 0 to 56038
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              56039 non-null  int64
 1   name                            56022 non-null  object
 2   host_id                         56039 non-null  object
 3   host_name                       56014 non-null  object
 4   neighbourhood_group             56039 non-null  object
 5   neighbourhood                   56039 non-null  object
 6   latitude                        56039 non-null  object
 7   longitude                       56039 non-null  float64
 8   room_type                       56039 non-null  object
 9   price                           56039 non-null  int64
 10  minimum_nights                  56038 non-null  float64
 11  number_of_reviews               56038 non-null  float64
 12  last_review                     44857 non-null  object
 13  reviews_per_month               44857 non-null  float64
 14  calculated_host_listings_count  56038 non-null  float64
 15  availability_365                56038 non-null  float64
dtypes: float64(6), int64(2), object(8)
memory usage: 6.8+ MB

In [30]:
data.head()

     id  ... availability_365
0  2539  ...            365.0
1  2595  ...            355.0
2  3647  ...            365.0
3  3831  ...            194.0
4  5022  ...              0.0

[5 rows x 16 columns]

In [34]:
df = data[['neighbourhood_group', 'room_type']]
df['neighbourhood_group'].value_counts()

Manhattan        24526
Brooklyn         23249
Queens            6560
Bronx             1273
Staten Island      430
3                    1
Name: neighbourhood_group, dtype: int64

In [ ]:
X = df.iloc[:, 0:2].values   # independent variables
Y = data.iloc[:, 8].values   # dependent variables

In [ ]:
#Encoding X (categorical data)

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer(transformers=[('one_hot_encoder', OneHotEncoder(categories='auto'), ['neighbourhood_group', 'room_type']) ],
                       remainder = 'passthrough')
X = ct.fit_transform(X)